<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
  style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
  <div class="auth-box m-3 m-md-0">
    <div id="loginform">
      <div class="logo">
        <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
        <h5 class="font-medium m-b-20">Kho Hàng Sỉ ANN</h5>
      </div>
      <!-- Form -->
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal m-t-20" id="loginform">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                aria-describedby="basic-addon1">
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <a class="btn btn-block btn-lg btn-info" [href]="root.home()">Đăng nhập</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
